.app {
  text-align: center;
  font-size: 35px;
  margin-top: 15%;
  background-color: lightblue;
}

.app-title{
  font-size: 50px;
}

.days, .hours, .minutes, .seconds{
  display: inline;
  margin: 10px;
  font-size: 30px;
  color:
}

.deadline-input{
  font-size: 25px;
  margin: 5px;
}
